body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid > path {
  stroke: gainsboro;
}
.grid .tick > line {
  stroke: gainsboro;
}

.line-chart {
  fill: none;
  stroke-width: 3;
}

.grid-lines {
  opacity: 0.1;
}

.area-chart {
  opacity: 0.8;
}

.slider * {
  height: 36px;
}
.slider-background {
  fill: #efefef;
}
.slider-active-area {
  fill: #ddd;
}
.slider-handle rect {
  fill: #aaa;
}
.slider-handle-line {
  width: 2px;
  transform: translateX(-0.5px)
}

.slider-mouse-move-detector {
  fill: transparent;
}

.slider-handle-button {
  width: 9px;
  transform: translate(-4px, 9px);
  height: 18px;
}
.slider-handle-button:hover {
  cursor: pointer;
}