body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.canvas {
  margin-left: 25px
}

.axis-container {
  display: flex;
  align-items: center;
}

.axis-title {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;  
}

.grid > path {
  stroke: gainsboro;
}

.grid .tick > line {
  stroke: gainsboro;
}

.line-chart {
  fill: none;
  stroke-width: 3;
}

.grid-lines {
  opacity: 0.1;
}

.area-chart {
  opacity: 0.8;
}

